.buzz-meta-data {
  letter-spacing: 1px;
  line-height: 25px;
}
.buzz-title {
  font-family: Montserrat, "Open Sans";
  letter-spacing: 2px;
}
.buzz-title h2 {
  font-weight: 600;
  text-transform: capitalize;
}
.form-comment textarea {
  resize: none;
  width: 100%;
}

.form-comment {
  width: 50%;
}
img.img.img-responsesive.img-circle {
  width: 75px;
  height: 75px;
}
.comment-infor {
  height: 200px;
  line-height: 35px;
  text-align: center;
  padding-top: 30px;
}
.comment-list {
  padding-top: 120px;
}
