.dashboard-menu div {
  display: block;
}
.dashboard-menu-header {
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 2.5em 0;
  width: 100%;
}
.dashboard-menu-header h3 {
  border-top: 1px solid #99999957;
  padding: 15px 0;
  border-bottom: 1px solid #99999957;
  color: #ffffff;
}
.dashboard-menu-item ul {
  padding: 0;
  text-align: center;
  margin: 0 auto;
}
.dashboard-menu-item ul li {
  text-align: center;
  list-style: none;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 18px;
  /* border-bottom: 1px solid #ffffffab; */
  letter-spacing: 2px;
  margin-top: 0.5em;
}
.dashboard-menu-item ul li a {
  text-decoration: blink;
  color: #fff;
}
.dashboard-menu-item ul li:hover {
  background: #41b883;
  transition: 0.5s;
  border-radius: 20px;
  cursor: pointer;
}
.dashboard-menu-item ul li:hover a {
  color: #fff;
}
