div#dashboard {
  position: relative;
}
.dashboard-menu div {
  display: block;
}
.dashboard-menu-header {
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 2.5em 0;
  width: 100%;
}
.dashboard-menu-header h3 {
  border-top: 1px solid #99999957;
  padding: 15px 0;
  border-bottom: 1px solid #99999957;
}
.dashboard-menu-item ul {
  padding: 0;
  text-align: center;
  margin: 0 auto;
}
.dashboard-menu-item ul li {
  text-align: center;
  list-style: none;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 20px;
}
.dashboard-menu-item ul li a {
  text-decoration: blink;
}
.dashboard-menu-item ul li:hover {
  background: #80808061;
  transition: 0.5s;
}
.dashboard-menu-item ul li:hover a {
  color: #fff;
}
