div#dashboard {
  position: relative;
}
.col-md-2.col-lg-2.col-sm-12.col-xs-12 {
  padding: 0;
}
.col-md-10.col-lg-10.col-sm-12.col-xs-12 {
  padding: 0;
}
.dashboard-menu {
  height: -webkit-fill-available;
  /* background: url("../../../assets/dashboard.jpeg") no-repeat; */
  background-size: cover;
  background: currentColor;
}
.header {
  width: -webkit-fill-available;
  background: currentColor;
  height: 30px;
}
.header-icon ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  line-height: 30px;
  width: 50px;
  margin-left: 20px;
}
.header-icon ul li a {
  color: #fff;
  padding: 5px;
}
.header-icon {
  float: right;
  padding-right: 10px;
}
